.main-layout {
    display: flex;
}

.content {
    flex-grow: 1;
    transition: margin-left 0.3s;
    margin-left: 250px; /* Default margin to accommodate the sidebar */
}

.content:not(.shifted) {
    margin-left: 0; /* No margin when the sidebar is closed */
}

.main-content {
    padding: 20px;
}