.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: white;
    transition: all 0.3s;
    height: 100vh;
}

.sidebar.is-open {
    margin-left: 0;
}

.sidebar-header {
    padding: 20px;
    background: #495057;
}

.sidebar .nav-link {
    color: #adb5bd;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.sidebar .nav-link:hover {
    color: #ffffff;
    background: #495057;
}

.logout-button {
    width: 80%;
    margin: 20px auto;
    display: block;
}